body {
    display: grid;
    grid-template-areas: "header header header" "nav article ads" "footer footer footer";
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 35% 1fr 15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
}

header, footer, article, nav {
    padding: 1.2em;
    background: linear-gradient(120deg, #232526, #414345);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Play', sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
}

form input, form button {
    border: none;
    background: white;
    padding: 0.3rem;
    font-size: 1.5rem;
}

form button {
    color: #02dbb3;
    background: white;
    cursor: pointer;
    transition: all 0.3sec ease;
}

form button:hover {
    color: white;
    background: #02dbb3;
}

form>h2 {
    margin-top: 2.5rem;
}

#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    display: grid;
    grid-area: nav;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

#siteAds {
    grid-area: ads;
}

#grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

#grid>div {
    /* background-color: #02dbb3; */
    color: white;
    font-size: 2vw;
    padding: 5px;
    border-radius: 8px;
}

.car-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-list {
    min-width: 70%;
    list-style: none;
}

.car {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.car li {
    flex:none;
}

.car-item {
    padding: 0rem, 0.5rem;
}

.fa-trash {
    pointer-events: none;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.trash-btn {
    background: #02dbb3;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.3rem;
    font-size: 1rem;
}

.cell {
    background-color: #02dbb3;
    color: white;
    font-size: 2vw;
    padding: 5px;
    border-radius: 8px;
}

/* Stack the layout on small devices/viewports. */

@media all and (max-width: 575px) {
    body {
        grid-template-areas: "header" "article" "ads" "nav" "footer";
        grid-template-rows: 80px 1fr 70px 1fr 70px;
        grid-template-columns: 1fr;
    }
}